@media screen and (max-width: 900px) {
    body {
        font-family: Arial, Batang;
        background-image: linear-gradient(to right, rgb(102, 206, 131), #b0c1ab);
    }
    
    h1 {
        color:#000000;
        text-align: center;
        position: relative; 
        top: 50px; 
        
        font-size: 100px;
    }
    
    
    .ssaa {
        color: #4938a0;
        position: relative;
        left: 500px;
        font-size: 60px;
        top: 35px;
        
    }
    
    .aass {
        color: #9b96af;
        position: relative;
        top: 500px;
        left: 100px;
        font-size: 50px;
        
    }
    
    
    
    .ft0 {
        position: absolute;
        left: 500px;
        top:2000px;
    }
}
